/* ============== @2ndStringSports listing template by @EnLabUSA ============ */




/* ==========================================================================
	2ndStringSports.co colors by @wesy2kn1 of @EnLabUSA
		Color Key-
			
			Electric Red
			#ED1C24 (R 237, G 28, B 36)
			
			Classic Navy
			#1E324F (R 30, G 50, B 79)
			
			Pewter Gray
			#627374 (R 98, G 115, B 116)

   ========================================================================== */

/** import rules **/
@import url(http://fonts.googleapis.com/css?family=Graduate|Cantarell:400,700,400italic,700italic);

html {
  background: #1d1d1d; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.82); }

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75); }
  a:hover {
    color: rgba(0, 0, 0, 0.85); }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Graduate', sans-serif;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
  padding: 0px; }

p {
  margin: 0 0 20px 0px;
  line-height: 1.67em; }

img {
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }

blockquote {
  font-family: 'Cantarell', sans-serif;
  font-style: italic;
  border-left: 5px solid orange;
  margin: 0;
  padding-left: 20px; }

.well {
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 15px; }

.page-header {
  background: #f4f4f4; }
  .page-header h1 {
    color: #1E324F;
    font-weight: 700;
    margin: 20px 0; }
  .page-header ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    float: right; }
    .page-header ul li {
      display: inline;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      margin: 0;
      float: left; }
      .page-header ul li:last-child {
        border-right: 1px solid rgba(0, 0, 0, 0.1); }
      .page-header ul li.selected {
        background: #ebebeb;
        color: #969696; }
      .page-header ul li a {
        padding: 30px;
        display: inline-block;
        color: #646464;
        text-decoration: none; }
        .page-header ul li a:hover {
          background: #eeeeee; }

.site-name {
  float: left; }

.small-menu-icon {
  float: right;
  padding: 25px 20px; }

.small-menu {
  text-align: center; }
  .small-menu ul {
    list-style: none outside none;
    margin: 0px;
    padding: 0px; }
    .small-menu ul li {
      background: none repeat scroll 0% 0% #d2d2d2; }
      .small-menu ul li a {
        padding: 25px;
        display: inline-block; }

.page-topper {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  /*$start-color:#F56D5E;
  $end-color:#E84848;
  $start-color:#333;
  $end-color:#627374;*/
  background: #333;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-radial-gradient(top center, ellipse cover, #333 0%, #627374 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(0%, #333), color-stop(100%, #627374));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(top center, ellipse cover, #333 0%, #627374 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(top center, ellipse cover, #333 0%, #627374 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(top center, ellipse cover, #333 0%, #627374 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at top center, #333 0%, #627374 100%);
  /* W3C */ }

.page-topper {
  color: rgba(255, 255, 255, 0.7); }
  .page-topper h2.slide-title-text {
    color: #FFF7F7;
    font-weight: 700;
    font-size: 74px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    margin: 0 0 20px 0; }
  .page-topper columns {
    padding: 40px 0px;
    padding: 40px 0px;
    text-align: center; }

.page-topper-area .page-topper h1 {
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 44px; }

.page-topper-area .page-topper {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1); }

.banner-slider {
  position: relative;
  overflow: auto;
  text-align: center; }
  .banner-slider .dots {
    bottom: 20px;
    left: 0;
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0; }
    .banner-slider .dots li {
      border: 2px solid #FFFFFF;
      border-radius: 6px 6px 6px 6px;
      cursor: pointer;
      display: inline-block;
      height: 10px;
      margin: 0 4px;
      opacity: 0.4;
      text-indent: -999em;
      transition: background 0.5s ease 0s, opacity 0.5s ease 0s;
      width: 10px; }
      .banner-slider .dots li.active {
        background: none repeat scroll 0 0 #FFFFFF;
        opacity: 1; }
  .banner-slider .arrows .arrow.prev:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    content: "\f053";
    font-family: fontawesome;
    left: 0;
    padding: 15px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 1; }
  .banner-slider .arrows .arrow.next:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    content: "\f054";
    font-family: fontawesome;
    right: 0;
    padding: 15px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 1; }
  .banner-slider ul {
    padding: 0;
    margin: 0; }
    .banner-slider ul li {
      padding: 100px 0;
      margin: 0;
      list-style: none;
      float: left;
      /*
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset, 0 -2px 2px rgba(0, 0, 0, 0.2) inset;
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset, 0 -2px 2px rgba(0, 0, 0, 0.2) inset;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset, 0 -2px 2px rgba(0, 0, 0, 0.2) inset;
      */ }
  .banner-slider a.call-to-action {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.65);
    padding: 9px 22px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 24px;
    font-weight: normal;
    transition: background 0.5s ease 0s, color 0.5s ease 0s; }
    .banner-slider a.call-to-action:hover {
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.08);
      color: rgba(255, 255, 255, 0.8); }

.features-area {
  /*
  $start-color:#333;
  $end-color:#627374 ;
  */
  padding: 41px 0 26px;
  background: #f4f4f4;
  background: -moz-radial-gradient(top center, ellipse cover, white 0%, #f4f4f4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #f4f4f4));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(top center, ellipse cover, white 0%, #f4f4f4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(top center, ellipse cover, white 0%, #f4f4f4 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(top center, ellipse cover, white 0%, #f4f4f4 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at top center, white 0%, #f4f4f4 100%);
  /* W3C */ }
  .features-area h1, .features-area h2, .features-area h3, .features-area i {
    color: #777; }
  .features-area h2 {
    margin-top: 20px; }
  .features-area a {
    color: #1E324F; }
    .features-area a:hover {
      background: rgba(0, 0, 0, 0.075);
      color: #ED1C24; }
  .features-area .columns {
    border-right: 1px solid rgba(0, 0, 0, 0.045); }
    .features-area .columns:last-child {
      border-right: none medium; }
  .features-area .icon-circle.icon-stack-base.icon {
    color: rgba(0, 0, 0, 0.045); }
  .features-area .icon-stack i + i {
    color: #ED1C24; }

.feature-box {
  text-align: center; }
  .feature-box p {
    text-align: left;
    color: #656565; }

.main-area {
  background: #e6e6e3;
  /*  background: #E9E9E9;*/
  padding-top: 32px; }

.column-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 0 0 20px; }
  .column-title i {
    margin-right: 6px; }
  .column-title .read-all-link-container {
    float: right; }

.blog-entry {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  padding: 0 0 40px; }
  .blog-entry h1, .blog-entry h2, .blog-entry h3, .blog-entry h4, .blog-entry h5, .blog-entry h6 {
    margin: 0 0 20px; }
  .blog-entry h1 {
    line-height: 1.33em;
    margin: 0 0 14px; }
  .blog-entry img {
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }
  .blog-entry .read-more-container {
    text-align: center; }
  .blog-entry.last-entry {
    margin-bottom: 20px; }

img.full-width {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px; }

a {
  color: #1E324F; }
  a:hover {
    background: rgba(0, 0, 0, 0.075);
    color: #ED1C24; }

.blog-entry-meta {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.35);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
  padding: 10px 15px;
  font-size: 13px; }

.blog-entry-meta > ul {
  list-style: none outside none;
  margin: 0px;
  padding: 0px; }

.blog-entry-meta > ul li {
  display: inline;
  padding: 0px 15px; }
  .blog-entry-meta > ul li:first-child {
    padding-left: 0px; }
  .blog-entry-meta > ul li i {
    color: rgba(0, 0, 0, 0.25);
    margin-right: 3px; }

/*Sidebar-widgets*/
.sidebar-widget {
  margin: 0px 0px 20px 0px; }
  .sidebar-widget .sidebar-widget-title {
    background: #DDDDDD;
    border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.07) transparent;
    border-style: solid;
    border-width: 1px;
    padding: 15px; }
  .sidebar-widget .sidebar-widget-content {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 15px 0; }

/*disqus recent comments*/
.dsq-widget {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none medium;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .dsq-widget li.dsq-widget-item {
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .dsq-widget .dsq-widget-meta > a + a {
    font-style: italic; }
  .dsq-widget a {
    color: #1E324F; }
    .dsq-widget a:hover {
      background: rgba(0, 0, 0, 0.075);
      color: #ED1C24; }

a.dsq-widget-user {
  font-size: 13px;
  font-weight: 300 !important;
  margin-left: 0; }

.dsq-widget-comment p {
  display: block !important;
  margin: 5px 0; }

.blog-date {
  background: none repeat scroll 0 0 rgba(123, 197, 173, 0.65);
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  padding: 10px 0;
  position: relative;
  text-align: center; }
  .blog-date .date {
    font-size: 24px;
    text-align: center;
    width: 100%; }
  .blog-date .month {
    font-size: 12px;
    display: block;
    text-transform: uppercase;
    margin-top: 5px; }

.blog-content a {
text-decoration: underline; 
}

.blog-comments {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  padding: 10px 0;
  position: relative;
  text-align: center;
  margin-top: 20px; }
  .blog-comments .comments-count {
    font-size: 18px;
    text-align: center;
    width: 100%; }
  .blog-comments .comments-label {
    font-size: 10px;
    display: block;
    text-transform: uppercase;
    margin-top: 5px; }
  .blog-comments:after {
    border-color: rgba(0, 0, 0, 0.5) transparent transparent;
    border-style: solid;
    border-width: 10px;
    bottom: -20px;
    content: "";
    height: 0;
    left: 31px;
    position: absolute;
    width: 0; }

/*disqus area*/
#disqus_thread {
  margin-bottom: 20px; }

/*pagination*/
ul.pagination {
  list-style: none outside none;
  margin: 0px;
  padding: 0px; }
  ul.pagination li {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2);
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 10px; }
    ul.pagination li a {
      display: inline-block;
      padding: 10px 15px; }
    ul.pagination li.selected {
      background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1); }
    ul.pagination li.disabled {
      display: none; }

div.pagination {
  padding-bottom: 20px; }

/*Contacts page*/
.row.contact-contents {
  padding: 10px 0; }

.contact-page-social-links {
  list-style: none outside none;
  padding: 0;
  margin: 0; }
  .contact-page-social-links li {
    display: inline-block;
    margin-right: 15px; }
    .contact-page-social-links li a {
      display: inline-block;
      padding: 15px;
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 60px;
      text-align: center; }

/*Footer Area*/
.footer-area {
  background: none repeat scroll 0 0 #627374;
  color: #fafafa;
  padding: 20px 0; }
  .footer-area ul.social-links {
    text-align: right;
    margin: 0;
    padding: 0; }
    .footer-area ul.social-links li {
      display: inline-block;
      margin: 0 0 0 15px;
      padding: 0; }
  .footer-area .smaller {
    font-size: 13px; }

/*Inline highlight classes*/
.inline-highlight {
  padding: 3px 8px; }
  .inline-highlight.highlight-dark-1 {
    background: rgba(0, 0, 0, 0.1); }
  .inline-highlight.highlight-dark-2 {
    background: rgba(0, 0, 0, 0.2); }
  .inline-highlight.highlight-dark-3 {
    background: rgba(0, 0, 0, 0.3); }
  .inline-highlight.highlight-light-1 {
    background: rgba(255, 255, 255, 0.1); }
  .inline-highlight.highlight-light-2 {
    background: rgba(255, 255, 255, 0.2); }
  .inline-highlight.highlight-light-3 {
    background: rgba(255, 255, 255, 0.3); }

@media only screen and (max-width: 767px) {
  .hide-for-medium-down {
    display: none; }

  .show-for-medium-down {
    display: block; }

  .features-area .columns {
    border-right: none medium;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 20px; } }
@media only screen and (min-width: 768px) {
  .hide-for-medium-down {
    display: block; }

  .show-for-medium-down {
    display: none; } }
